:root {
    --bg-color: #0b0a0a;
    --footer-color: #141414;
    --text-color: #b7b6b6;
    --text-bright: #fffafa;
    --header-color: #f2eeee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* Texts */
a,
p {
    font-family: sans-serif;
    color: var(--text-color);
}

h1,
h2,
h4,
h6 {
    font-family: sans-serif;
    color: var(--header-color);
}


li {
    list-style: none;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

header {
    height: 100vh;
    width: 100%;
    padding: 10vh;
    /* border: 2px solid green; */
}

/* Navigation */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    border-radius: 50%;
    filter: saturate(0);
    height: 6vh;
    width: 6vh;
    transition: 0.3s filter;
}

ul {
    display: flex;
}

nav li {
    margin-left: 5vh;

}

nav li a {
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.3s color;

}

/* Header */

header {
    height: 100vh;
}

.header-section {
    /* border: 2px solid blue; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header-section p {
    text-align: center;
}

.header-section h1 {
    font-size: 5rem;
    /* converted from 75px */
    margin-bottom: 4rem;
    /* converted from 60px */
}

.header-section ul {
    margin-top: 2.5rem;
    /* converted from 40px */
}

.header-section li {
    display: flex;
    align-items: center;

}

.header-section li:not(:last-child)::after {
    content: '';
    height: 1px;
    width: 1.5rem;
    margin: 0 0.625rem 0 0.625rem;
    /* converted from 10px */
    display: inline-block;
    background-color: var(--text-color);
}


.header-section a {
    text-decoration: none;
    color: var(--text-bright);
}

.scroll-down {
    bottom: 9.375rem;
    /* converted from 150px */
    position: absolute;
}


/* Start of Reveal */


main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main .reveal {
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    /* converted from 40px */
    padding: 0 0.625rem;
    /* converted from 10px */
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 25vh;
}

main .reveal.active {
    color: var(--header-color);
    transform: scaleX(1);
    transition-delay: 0s;
}

main .reveal:nth-child(2) {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.5rem;
    /* converted from 24px */
    letter-spacing: 0.125rem;
    /* converted from 2px */
    margin-top: 0.3125rem;
    /* converted from 5px */
    display: inline-block;
}

main .reveal:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--text-color);
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
}

main .reveal:nth-child(2):before {
    background: var(--header-color);
}

main .reveal.active:before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}

img {
    filter: saturate(0);
    transition: 0.5s;
}

img:hover {
    filter: saturate(1);
}

.section-reveal img {
    position: relative;
    left: -100px;
    display: block;
    margin-left: 10px;
    max-height: 31.25rem;
    /* converted from 500px */
    max-width: 31.25rem;
    /* converted from 500px */

    opacity: 0;
    transition: 0.5s;
}

.section-reveal img.active {
    left: 0;
    opacity: 1;
}

.section-reveal {
    position: relative;
    width: 100%;
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;

}



.section-wrapper {
    display: flex;
}



#about-me {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}


#projects {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

#projects h1 {
    font-size: 5rem;
    /* converted from 75px */
    margin-bottom: 4rem;
    /* converted from 60px */
}

#about-me h1 {
    font-size: 5rem;
    /* converted from 75px */
    margin-bottom: 4rem;
    /* converted from 60px */
}

#about-me p {
    font-size: 1rem;
    width: 50vh;
    text-align: center;
    /* converted from 24px */
}

.description {

    width: 50%;
    height: 100%;
    margin-left: 1.5625rem;
    /* converted from 25px */
}

.description p {
    font-size: 1rem;
    text-align: justify;
    /* converted from 16px */
}

.leadership-experience {
    margin-top: 4rem;
    margin-bottom: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leadership-experience img {
    max-width: 100%;
    height: auto;

}


/* End of Reveal */






/* Main Content */


#education {
    /* border: 2px solid blue; */
    position: relative;
    height: 100%;

}

#education .line {
    width: 2px;
    height: 0;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;

    left: 50%;

    transform: translateX(-50%);

}



.project {
    height: 100vh;
    margin-bottom: 3.125rem;
    /* converted from 50px */
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.education-box {
    padding: 7.5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.description {
    width: 25%;
    letter-spacing: 0.1em;
}

.description-right {
    text-align: right;
}

#contact {

    /* border: 1px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.contact-container {
    width: 50%;
    border: 1px solid white;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.textarea {

    resize: none;
}

.button {
    height: auto;
    width: 100%;
    background-color: white;
}

.media {
    height: 35rem;
    /* converted from 560px */
    width: 35rem;
    /* converted from 560px */
    cursor: pointer;
    filter: saturate(0);
    transition: 0.3s filter;
    border: 2px solid white;
    overflow: hidden;
}

.media img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.media:hover {
    filter: saturate(1);
}

.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-list {
    display: flex;
}

.project-list img {
    margin: 0 3.125rem 0 3.125rem;
    /* converted from 50px */
    height: 16.25rem;
    /* converted from 260px */
    width: 16.25rem;
    /* converted from 260px */
}

/* Footer */
footer {
    height: 3.125rem;
    /* converted from 50px */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: var(--footer-color);
}

/* Animations */
nav img:hover {
    border-radius: 50%;
    filter: saturate(1);
    height: 6vh;
    width: 6vh;
}

nav li a:hover {
    color: var(--text-bright);
}

/* Responsive */

@media (max-width: 1024px) {
    .header-section h1 {
        font-size: 3.125rem;
        /* converted from 50px */
    }

    .header-section p {
        font-size: 1.2rem;
        /* assuming slightly bigger than base */
    }

    #about-me h1 {
        font-size: 3.125rem;
    }

    nav ul {
        flex-direction: column;
    }

    nav li {
        margin: 1vh 0;
    }

    .description {
        width: 80%;
        margin-left: 0;
    }

    .leadership-experience {
        flex-direction: column;
        text-align: center;
    }

    .project-list {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        /* Add margin-top to provide space above the project list */
    }


    .project-list img {
        height: auto;
        width: 80%;
        margin-bottom: 2rem;
    }



    #header img {
        display: none;
    }

    #header ul {
        display: none;
    }
}

@media (max-width: 768px) {
    .header-section h1 {
        text-align: center;
        font-size: 2.5rem;
        /* converted from 40px */
    }

    .header-section p {
        font-size: 1rem;

        /* converted from 16px */
    }

    #about-me h1 {
        text-align: center;
        font-size: 2.5rem;
    }

    #about-me p {

        font-size: 1rem;
        text-align: center;
    }

    #header img {
        display: none;
    }

    #header ul {
        display: none;
    }

    .leadership-experience {
        flex-direction: column;
        text-align: center;
        margin-bottom: 4rem;
        /* Adjust the bottom margin for smaller screens */
    }

    .project-list {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .project-list img {
        height: auto;
        width: 90%;
        margin-bottom: 1.5rem;
    }
}